<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'home' %}">सभी समाचार</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'adhikar' %}">आपका अधिकार</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'bharat' %}">भारत</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'janata' %}">जनता की आवाज़</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'local' %}">लोकल खबरें</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'international' %}">अंतर्राष्ट्रीय</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'opinion' %}">ओपिनियन</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'politics' %}">राजनीती</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'education' %}">शिक्षा</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'society' %}">समाज</a></li>
<li class="nav-item"><a class="nav-link list-group-item" href="{% url 'category_news' 'cyber' %}">साइबर सुरक्षा</a></li>
