{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>लेटेस्ट न्यूज़</h2>
    <div class="row">
        {% for i in news_items %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ i.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.description|truncatewords:20 }}</p>
                    <a href="{% url 'news_detail' i.id %}" class="btn btn-primary">पूरा पढ़े</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
